* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
}

/* navbar mobile view */
#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    list-style-type: none;
    padding-bottom: 15px;
    background-color: darkkhaki;
}

#menu li a {
    display: block;
}

#logo {
    font-size: 1.2rem;
    padding: 15px 25px;
    background-color: cyan;
    position: absolute;
    left: 0;
}

#toggle {
    order: 1;
    size: 1.2rem;
    padding: 10px;
    background-color: burlywood;
}

.item {
    order: 2;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    padding: 25px 20px 5px 20px;
    display: none;
    background-color: blueviolet;
}

.active .item {
    display: block;
}

/* navbar desktop view */
@media all and (min-width: 960px) {
    #menu {
        align-items: flex-start;
    }

    #logo {
        order: 1;
    }

    .item {
        order: 2;
        padding: 15px 25px 20px 45px;
        width: auto;
        display: block;
    }

    #toggle {
        display: none;
    }
}